$darkish-blue: #00479f;
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    margin-top: 60px;
    .headerimg {
        img {
            width: 250px;
            height: 123.5px;
        }
    }
    .emailinput {
        margin-top: 178.5px;
        input {
            background: url("../imgs/input/group-2.png");
            background-repeat: no-repeat;
            background-position: 15px 16px;
        }
    }
    .passwordinput {
        margin-top: 20px;
        input {
            background: url("../imgs/input/group.png");
            background-repeat: no-repeat;
            background-position: 15px 16px;
        }
    }
    .nextbutton {
        margin-top: 30px;
        button {
            width: 300px;
            height: 55px;
            border: 0;
            border-radius: 100px;
            background-color: #00479f;
            font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-size: 17px;
            font-weight: bold;
            color: #ffffff;
        }
    }
    .helplink {
        margin-top: 10px;
        font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 13px;
        color: $darkish-blue;
    }
    .userinfo{
      font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 20px;
      color: #000000;
      img{
        width: 100px;
        height: 100px;
        margin-top: 52.5px;
      }
      .p1{
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: -8px;
      }
      .p2 {
      }
    }
    .navbar{
      margin-top: 20px;
      img{
        width: 20px;
        height: 20px;
        margin-top: 12px;
        margin-right: 0px;
        margin-left: -15px;
      }
      .img4{
        width: 40px;
        height: 40px;
        margin-top: 0px;
        margin-right: 20px;
      }
    }
    .applicationcontainer{
      width: 550px;
    }
    .application{
      width: 130px;
      height: 130px;
      background-color: #ffffff;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
      margin: 20px;
    }

    footer {
        font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 12px;
        color: #000000;
        position: absolute;
        margin-top: 130px;
        width: 100%;
    }
    input {
        width: 300px;
        height: 55px;
        border-radius: 100px;
        border: solid 1px $darkish-blue;
        font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 14px;
        color: #000000;
        padding-left: 50px;
        padding-top: 2px;
    }
}
